%footer
  %h3 Contact me
  %p E-mail: andreademoja@gmail.com, Phone 3936092457
  !!!5
%title Sticky Footer
:sass
  body
    padding: 0
    margin: 0
    height: 100%
  #wrapper
    min-height: 100%
    position: relative
  #main-content
    padding: 10px 10px 60px
  footer
    position: absolute
    bottom: 0
    width: 100%
    height: 60px
